{% extends "base.html" %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

{% block content %}
    <h1>Change Destination</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.destination.label(class="form-label") }}
            {{ form.destination(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Change Destination</button>
    </form>
    <a href="{{ url_for('user_parcels') }}">Back to My Parcels</a>
{% endblock %}